.default_input {
  display: flex;
  align-items: center;
  width: auto;
  background-color: #F2F2F2;
  padding: 8px 10px;
  border-radius: 10px;

  input[type] {
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    margin-left: 10px;
    background: none;
  }
  .head_icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
